<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link rel="stylesheet" href="/resources/css/settings.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Ini bagian Header (bisa copas untuk dipake di semua) -->
    <header>
        <a href=landing.html><h1 style="display:inline-block; margin-left: 10px; color: #3563E9;">NexaHome</h1></a>
        <span style="color: #3563E9; font-size: 16px; margin-left: 4px; margin-top: 10px;">Settings</span>
        <nav>
            <a href="">Dashboard</a>
        </nav>
    </header>


<div class="container">
<div class="profile-header">
    <img alt="Profile picture" height="80" src="/resources/images/adin.jpeg" width="80"/>
    <h1>Adin Ross</h1>
</div>

<div class="tabs">
    <a class="active" href="#">Account Details</a>
    <a href="profilehead.html">Profile</a>
    <a href="membershead.html"> Members</a>
</div>

<div class="form-group">
    <label>First name</label>
    <input type="text" value="Adin"/>
    <label style="margin-top: 10px;">Last name</label>
    <input type="text" value="Ross"/>
</div>

<div class="form-group">
    <label>Email</label>
    <div style="position: relative;">
    <input type="email" value="adinrose6969@gmail.com"/>
    </div>
</div>

<!-- buat gak bisa diedit, view only -->
<!-- role = head -->
<!-- nanti buat lagi untuk bagian member -->

<div class="form-group">
    <label>Role</label>
    <input type="text" value="Head" readonly/>
</div>

<div class="form-group">
    <label >Notifications</label>
    <input type="text" value="You'll received notifications on your email" readonly/>
</div>

<div class="buttons">
    <button class="cancel">Cancel</button>
    <button class="save">Save</button>
</div>
</div>


<footer>
    @ 2024 NexaHome. All Rights Reserved.
</footer>
</body>
</html>