<!-- FOR MEMBER -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="/resources/css/membersviewonly.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Ini bagian Header (bisa copas untuk dipake di semua) -->
<header>
    <a href=landing.html><h1 style="display:inline-block; margin-left: 10px; color: #3563E9;">NexaHome</h1></a>
    <span style="color: #3563E9; font-size: 16px; margin-left: 4px; margin-top: 10px;">Settings</span>
    <nav>
        <a href="">Dashboard</a>
    </nav>
</header>



<div class="container">
<div class="profile-header">
    <img alt="Profile picture" height="80" src="/resources/images/kaicenat.png" width="80"/>
    <h1>Kai Cenat</h1>
</div>

<div class="tabs">
    <a href="accountdetailsmember.html">Account Details</a>
    <a href="profilemember.html">Profile</a>
    <a class="active" href="memberviewonly.html"> Members</a>
</div>

<div class="container">
<table>
    <thead>
        <tr>
            <th>Admin of Group</th>
            <th>Status</th>
            <th></th>
        </tr>
    <tbody>
        <tr>
            <td><input type="text" class="member-name" value="Adin Ross" readonly></td>
            <td class="status">Head</td>
        </tr>
        </tr>
    </tbody>
    </thead>
    <thead>
        <tr>
            <th>List of Members</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" class="member-name" value="Kai Cenat" readonly></td>
            <td class="status">Member</td> 
        </tr>
        <tr>
            <td><input type="text" class="member-name" value="Diddy" readonly></td>
            <td class="status">Member</td>
        </tr>
        <tr>
            <td><input type="text" class="member-name" value="Rick Ross" readonly></td>
            <td class="status">Member</td>
        </tr>
        <tr>
            <td><input type="text" class="member-name" value="Meek Mill" readonly></td>
            <td class="status">Member</td>
        </tr>
    </tbody>
</table>
</div>


<footer>
    @ 2024 NexaHome. All Rights Reserved.
</footer>
</body>
</html>
