<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <link rel="stylesheet" href="verification.css">
</head>
<body>
    <header>
        <a href=""><h1 style="display: inline-block; margin-left: 10px; color: #3563e9;">NexaHome</h1></a>
    </header>
    <main>
        <div class="container">
            <div class="verification-container">
            <h2>Verification</h2>
                <div class="verification-box">
                        <input type="text" class="verification-input" placeholder="Verification">
                        <button class="send-button">Send</button>
                </div>
                <button class="register-button">Register</button>
            </div>
        </div>
    </main>
    <footer>
        @ 2024 NexaHome. All Rights Reserved.
    </footer>
</body>
</html>
