* {
    /* digunakan untuk penyesuaiain box pada setiap web browser */
    box-sizing: border-box;
}


.plus-jakarta-sans{
font-family: "Plus Jakarta Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
}

.middle{
    margin-top: 110px;
    margin-left: 250px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.leftcolumn {
display: flex;
align-items: column;
align-items: center;
}

.image-container {
margin-right: 20px; /* Adjust the spacing as needed */
}

body {
    background-size: cover;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

nav {
    flex-grow: 1; 
    flex-grow: 3;
    flex-grow: 1; 
    text-align: right;

}
nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
}

footer {
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
}

/* CSS BAGIAN FORM */

.rightcontainer{
    margin-top: 100px;
    float: right;
    width: 60%;
}

form {
max-width: 400px;
margin: 0 auto; /* Center the form horizontally */
padding: 20px;
}

.form-group {
margin-bottom: 15px;
}

label {
display: block;
margin-bottom: 5px;
}

input, textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
}

textarea {
height: 100px;
}

button {
background-color: #007bff;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #0062cc;
}