
* {
    box-sizing: border-box;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin : 10px;
    margin-top: 150px;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

main {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verification-container {
    width: 100%
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.verification-box {
    display: flex;
    align-items: center;
    gap: 1px;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
}

.verification-input {
    align-items: center;
    gap: 10px;
    background-color: #f5f7fa;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.send-button {
    background-color: #4a6cf7;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.verification-input {
    padding: 10px;
    border: 1px solid #f5f7fa(0, 0%, 80%);
    border-radius: 5px;
    width: 240px;
}

.send-button, .register-button {
    background-color: #4a6cf7;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.send-button {
    margin-left: 20px;
    margin-bottom: 2px;
}

.register-button {
    margin-top: 20px;
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
} 

